:root {
    --primary-color: #2c3e50;
    --secondary-color: #3498db;
    --accent-color: #e74c3c;
    --background-light: #ecf0f1;
    --text-color: #333;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--background-light);
    color: var(--text-color);
    line-height: 1.6;
}

header {
    background: var(--primary-color);
    color: var(--white);
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: var(--white);
    padding: 10px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: var(--secondary-color);
}

.container {
    display: flex;
    gap: 20px;
    max-width: 1100px;
    margin: 20px auto;
    padding: 20px;
}

main {
    flex: 2;
    background: var(--white);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

aside {
    flex: 1;
    background: var(--white);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

h2,
h3 {
    color: var(--primary-color);
}

article {
    margin: 20px;
    padding: 10px;
    border-left: 3px solid var(--secondary-color);
    background: var(--white);
    border-radius: 5px;
}

#about-me img {
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
}

audio {
    width: 100%;
    margin-top: 10px;
}

iframe {
    width: 100%;
    margin-top: 10px;
}

aside ul {
    list-style: none;
    padding: 0px;
}

aside ul li {
    margin: 10px 0px;
}

aside a {
    text-decoration: none;
    color: var(--primary-color);
    transition: color 0.3s ease;
}

aside a:hover {
    color: var(--accent-color);
}

footer {
    text-align: center;
    background: var(--primary-color);
    color: var(--white);
    padding: 20px;
    margin-top: 20px;
}

footer a {
    text-decoration: none;
    color: var(--white);
    transition: color 0.3s ease;
}

footer a:hover {
    color: var(--accent-color);
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }
}