body {
    font-family: montserrat;
    padding: 20px;
}

.blog-post {
    width: 40%;
    margin: auto;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.heading {
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
}

.intro {
    text-align: right;
}

.content {
    color: gray;
    font-size: 10px;
}