body {
    display: flex;
    font-family: Arial, sans-serif;
    background-color: #f2f3f5;
    justify-content: center;
    height: 100vh;
}

p {
    color: #999a9b;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
}

ul li {
    background-color: #e7e6e6;
    border-radius: 5px;
    margin-right: 3px;
    padding: 5px;
}

.card {
    background-color: white;
    width: 200px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.1);
}

.img-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}

.img-container img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}