article {
    width: 300px;
    height: 200px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    margin: auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

h2 {
    text-align: center;
}

.highlighted:hover {
    background-color: yellow;
}

.quote::before,
.quote::after {
    content: '"';
    font-size: 20px;
    color: lightgray;
}